*{
  padding:0;
  margin:0
}
body{
  background-color: rgb(230,230,230);
}
main{
  background-color: rgb(230, 230, 230);
  padding-bottom: 50px;
}
#QAcenter {
  font-family: 'gotham';
  font-weight: 900;
  background-color:#bcbcbc;
  color: #fff ;
  padding: 4%;
  font-size: 60px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
}

.container{
  width: 120px;
  margin-top: 15px;
}

.packaging{
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.packaging div{
  margin : 40px ;

  border: 1px solid;
  border-color: rgb(200, 200, 200);
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  height: auto;
  text-align: center;
  
}

.packaging p{
  margin-top: 5px;
  margin-bottom : 10%;
  font-family: 'wind';
  font-weight: 900;
  text-align: center;
  font-size: 25px;
  color: #121212;
}
.packaging div:hover{
  background-color:  #e6f0ff;
  border-color: #5992fc;
  box-shadow: 0px 0px 0px 1px #5992fc inset;
  transition: 2s all;
}





.aa{
  /* display: none; */
  margin-left: 460px;
  width: 1000px; 
  height: 0px; 
  opacity: 0;
  margin-left: 300px;
  width: 1300px;
  overflow: hidden;
  transition: 0.5s all;
}




.FAQ{
  width: 1300px;
  font-family: 'wind';
  font-weight: 500;
  background-color: #ffffff;
  padding-bottom: 1%;
}
#FAQ-text{
  font-family: 'sdgothic';
  font-weight: 300;
  padding-top: 11% ;
  margin: 5% 5% 1% 5% ;
  font-size: 60px;
  color: #000000;
  text-align: center;
}

 input[id *="answer"]{
  display: none;
}

 input[id *="answer"] + label{
  font-family: 'sdgothic';
  font-weight: 900;
  left: 3%;
  width: 91%;
  display: block;
  padding:40px 20px 20px 20px ;
  border-top:1px solid #d3d3d3;
  color: black; 
  font-weight:900;
  cursor:pointer;
  position:relative;  
  /* 화살표 백그라운드 이미지*/
  font-size: 30px;
  height: 50px;
}

input[id="answer01"] + label {
  border-top: none;
}

/* 화살표 이미지 */
 input[id *="answer"] + label em {
  position: absolute;
  top: 47%;
  right: 25px;
  width: 30px;
  height: 30px; 
  margin-top: -15px;
  display:inline-block;

  opacity: 0.5;

  /* 화살표 백그라운드 이미지 */
  background: url("화살표키.png") 0 0 no-repeat;
  background-size: 100% auto; 
}

input[id *="answer"] + label + div {
text-align: center;
max-height: 0;
transition: all .50s;
overflow: hidden;
background: #ffffff;

}
input[id *="answer"] + label + div p{
font-size: 20px;
display: inline-block;
padding:20px; 
padding-bottom: 50px
  }
input[id *="answer"]:checked + label +div{max-height: 100px;}
input[id *="answer"]:checked + label em{background-position: 0 -30px;}


#un{
 width:35px;
}